@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;   
    margin: 0;
    padding: 0; 
}
body {
    background-color: var(--background);
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    margin-bottom: 2rem;
    padding: .5rem;
    background-color: var(--main-background);
}

.main-gallery {
    display: none;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

/* Menu */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    /* background-color: var(--main-background); */
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--text);
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-links li:hover {
    background-color: var(--text-description);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    transform: translateY(-3px);    
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Menu End */

iframe {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    height: auto;
    width: auto;
}

input.search {
    border: none;
    outline: none;
    max-width: 220px;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("../img/icon-search.svg") no-repeat 13px center;
    background-color: var(--background);
}

.main-container {
    margin: 0 auto;
    padding: 1rem;
}

.item-card {
    background-color: var(--main-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;    
    margin-bottom: 1rem;
}

.swiper-lazy {
    margin: 0 auto;
    margin-top: .5rem;
    border-radius: 10px;
}

.swiper-button-prev, .swiper-button-next {
    filter: drop-shadow(0px 0px .1rem var(--text-description)) brightness(.8) contrast(1.1) saturate(.7);
}

.item-description {
    text-align: center;
}

.item-description * {
    padding-top: .7rem;
}

.item-title {
    font-weight: 700;
}

.item-description p {
    font-size: .9rem;
    color: var(--text);
    opacity: .75;
}

.price {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn {
    margin: 0.5rem 0 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--footer);
    padding: 1rem;
    color: var(--background);    
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.btn-buy {
    background-color: var(--button);
    
}

.footer-container {
    background-color: var(--main-background);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-around;
    list-style: none;
}

.footer-social {
    padding: .25rem;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-social a {
    display: block;
    width: 100%;
}

.footer-social:hover {
    color:var(--button);
    background-color: var(--background);
}


@media (max-width: 360px) {
    input.search {
        width: 20ch;
    }
}

@media (min-width: 768px) {
    body {
        max-width: 100vw;
    }

    .navbar-links a {
        font-size: 1.25rem;
    }

    .main-container {
        width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
    }

    .item-card {
        width: 49%;
    }

    .footer-container {
        flex-direction: row;
        align-items: center;
    }

    .footer-links {
        flex-basis: 50%;
    }

    .footer-social {
        font-size: 1.25rem;
    }

    .btn-more {
        margin: 0;
        width: 70%;
        padding: 3rem 0;
        border-radius: 0;
    }
}

@media (min-width: 1200px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5rem;
        background-color: transparent;
    }
    
    .item-card {
        width: 30%;
    }

    .main-container {
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: space-between;
    }

    #main-card {
        width: 100%;
        border-radius: 0;
        flex-direction: row;
        background-color: transparent;
    }

    #main-card .item-gallery {
        width: 60vw;        
    }

    #main-card .mySwiper {
        display: none;
    }

    .main-gallery {
        padding-top: 4.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--main-background);
        width: 100%;
    }

    .item-description {
        padding-top: 4.5rem;
    }



    .img-selector {
        display: flex;
        margin: .5rem;
        gap: 0.5rem;
    }

    .footer-container {
        padding: 0;
        justify-content: space-between;
    }
    
    .footer-links {
        flex-direction: row;
    }

    iframe {
        align-self: start;
    }

    .btn-more {
        display: block;
        width: 20%;
        height: 100%;
        
    }
}